In [1]:
# Q1
'''MISSING VALUE:
   Missing data, or missing values, occur when you don't have data stored for certain variables or participants. 
   Data can go missing due to incomplete data entry, equipment malfunctions, lost files, and many other reasons. 
   In any dataset, there are usually some missing data.
   
   ESSENTIAL TO HANDLE MISSING VALUE:
   The concept of missing values is important to understand in order to successfully manage data. If the missing values 
   are not handled properly by the researcher, then he/she may end up drawing an inaccurate inference about the data.
   
   ALGORITHMS THAT ARE NOT AFFECTED BY MISSING VALUES:
   we will discuss machine learning algorithms that don't require handling the missing values explicitly:
   Histogram based Gradient-boosting Classifier / Regressor.
   '''

"MISSING VALUE:\n   Missing data, or missing values, occur when you don't have data stored for certain variables or participants. \n   Data can go missing due to incomplete data entry, equipment malfunctions, lost files, and many other reasons. \n   In any dataset, there are usually some missing data.\n   \n   ESSENTIAL TO HANDLE MISSING VALUE:\n   The concept of missing values is important to understand in order to successfully manage data. If the missing values \n   are not handled properly by the researcher, then he/she may end up drawing an inaccurate inference about the data.\n   \n   ALGORITHMS THAT ARE NOT AFFECTED BY MISSING VALUES:\n   we will discuss machine learning algorithms that don't require handling the missing values explicitly:\n   Histogram based Gradient-boosting Classifier / Regressor.\n   "

In [2]:
# Q2
''' THEIR ARE THREE METHODS TO HANDLE MISSING DATA:
   1. MEAN
   2. MEDIAN
   3. MODE
EXAMPLE:'''
import seaborn as sns
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
#1.MEAN METHOD USE MEAN VALUE TO FILL THE SPACE
df['age_mean']=df['age'].fillna(df['age'].mean())
df[['age_mean','age']]

      age_mean   age
0    22.000000  22.0
1    38.000000  38.0
2    26.000000  26.0
3    35.000000  35.0
4    35.000000  35.0
..         ...   ...
886  27.000000  27.0
887  19.000000  19.0
888  29.699118   NaN
889  26.000000  26.0
890  32.000000  32.0

[891 rows x 2 columns]

In [4]:
#2.MEDIAN METHOD USE MEAN VALUE TO FILL THE SPACE
df['age_median']=df['age'].fillna(df['age'].median())
df[['age_median','age']]

     age_median   age
0          22.0  22.0
1          38.0  38.0
2          26.0  26.0
3          35.0  35.0
4          35.0  35.0
..          ...   ...
886        27.0  27.0
887        19.0  19.0
888        28.0   NaN
889        26.0  26.0
890        32.0  32.0

[891 rows x 2 columns]

In [5]:
#3. MODE METHOD USE MEAN VALUE TO FILL THE SPACE
df['age_mode']=df['age'].fillna(df['age'].mode())
df[['age_mode','age']]

     age_mode   age
0        22.0  22.0
1        38.0  38.0
2        26.0  26.0
3        35.0  35.0
4        35.0  35.0
..        ...   ...
886      27.0  27.0
887      19.0  19.0
888       NaN   NaN
889      26.0  26.0
890      32.0  32.0

[891 rows x 2 columns]

In [6]:
# Q3
'''IMBALANCED DATA:
   Imbalanced data refers to those types of datasets where the target class has an uneven distribution of observations, 
   i.e one class label has a very high number of observations and the other has a very low number of observations.
    Example:
          like in a survey we found 85% people are health over 1000people
          it means 850are health and 150 are suffer with some disease.
          
    Imbalanced data set will lead algorithms to get good results by returning the majority. That will be a problem 
    if you are interested in the minority more. So, balancing is a way to force the algorithm to give more weight to 
    the minority.
'''

'IMBALANCED DATA:\n   Imbalanced data refers to those types of datasets where the target class has an uneven distribution of observations, \n   i.e one class label has a very high number of observations and the other has a very low number of observations.\n    Example:\n          like in a survey we found 85% people are health over 1000people\n          it means 850are health and 150 are suffer with some disease.\n          \n    Imbalanced data set will lead algorithms to get good results by returning the majority. That will be a problem \n    if you are interested in the minority more. So, balancing is a way to force the algorithm to give more weight to \n    the minority.\n'

In [7]:
# Q4
'''Up-Sampling is a "Zero-Padding Procedure" that increase the number of samples of a DT signal. More specificals,
      when up sampling, zeros are added between the samples of a signal. 
   Down-Sampling is to decrease the sample size.
       Downsampling is a mechanism that reduces the count of training samples falling under the majority class.
'''
import pandas as pd
import numpy as np
# Set the random seed for reproducibility
np.random.seed(123)
n_samples = 1000
class_0_ratio = 0.85
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
      })

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
      })
df=pd.concat([class_0,class_1]).reset_index(drop=True)

# example of up sampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True,
         n_samples=len(df_majority),
         random_state=42
        )
df_upsampled=pd.concat([df_majority,df_minority_upsampled])
df_upsampled['target'].value_counts()

0    850
1    850
Name: target, dtype: int64

In [8]:
# Example of down sampling
from sklearn.utils import resample
df_majority_upsampled=resample(df_minority,replace=True,
         n_samples=len(df_majority),
         random_state=42
        )
df_downsampled = pd.concat([df_minority,df_majority_upsampled])
df_downsampled['target'].value_counts()

1    1000
Name: target, dtype: int64

In [9]:
# Q5
''' Data augmentation is a technique of artificially increasing the training set by creating modified copies of a
   dataset using existing data. It includes making minor changes to the dataset or using deep learning to generate new
   data points
   
   SMOTE (Synthetic Minority Over-sampling Technique) is a technique used in machine learning to address imbalanced
   datasets where the minority class has significantly fewer instances than the majority class. SMOTE involves generating
   synthetic instances of the minority class by interpolating between existing instances.
'''

' Data augmentation is a technique of artificially increasing the training set by creating modified copies of a\n   dataset using existing data. It includes making minor changes to the dataset or using deep learning to generate new\n   data points\n   \n   SMOTE (Synthetic Minority Over-sampling Technique) is a technique used in machine learning to address imbalanced\n   datasets where the minority class has significantly fewer instances than the majority class. SMOTE involves generating\n   synthetic instances of the minority class by interpolating between existing instances.\n'

In [10]:
# Q6
'''An outlier is an observation that lies an abnormal distance from other values in a random sample from a population. 
   In a sense, this definition leaves it up to the analyst (or a consensus process) to decide what will be considered 
   abnormal.
   Outliers are important because they can have a large influence on statistics derived from the dataset.
   example: the mean intake of energy or some nutrient may be [glossary term:] skewed upward or downward by one or a 
   few extreme values (Learn More about Normal Distributions).
'''

'An outlier is an observation that lies an abnormal distance from other values in a random sample from a population. \n   In a sense, this definition leaves it up to the analyst (or a consensus process) to decide what will be considered \n   abnormal.\n   Outliers are important because they can have a large influence on statistics derived from the dataset.\n   example: the mean intake of energy or some nutrient may be [glossary term:] skewed upward or downward by one or a \n   few extreme values (Learn More about Normal Distributions).\n'

In [11]:
# Q7
'''When dealing with missing data, data scientists can use two primary methods to solve the error:
1. imputation or 
2. the removal of data.

1. imputation:
The imputation method develops reasonable guesses for missing data. It's most useful when the percentage of missing
data is low.
2. removal:
Removing data may not be the best option if there are not enough observations to result in a reliable analysis.
'''

"When dealing with missing data, data scientists can use two primary methods to solve the error:\n1. imputation or \n2. the removal of data.\n\n1. imputation:\nThe imputation method develops reasonable guesses for missing data. It's most useful when the percentage of missing\ndata is low.\n2. removal:\nRemoving data may not be the best option if there are not enough observations to result in a reliable analysis.\n"

In [12]:
# Q8
'''Multiple imputation is another useful strategy for handling the missing data. In a multiple imputation, instead of
substituting a single value for each missing data, the missing values are replaced with a set of plausible values which 
contain the natural variability and uncertainty of the right values.'''

'Multiple imputation is another useful strategy for handling the missing data. In a multiple imputation, instead of\nsubstituting a single value for each missing data, the missing values are replaced with a set of plausible values which \ncontain the natural variability and uncertainty of the right values.'

In [13]:
# Q9
'''we will see different techniques to handle imbalanced data.
Sample Dataset. 
Random Under-Sampling.
Random Over-Sampling.
Random Under-Sampling With Imblearn.
Random Over-Sampling With imblearn.
Under-Sampling: Tomek Links. 
Synthetic Minority Oversampling Technique (SMOTE)
'''

'we will see different techniques to handle imbalanced data.\nSample Dataset. \nRandom Under-Sampling.\nRandom Over-Sampling.\nRandom Under-Sampling With Imblearn.\nRandom Over-Sampling With imblearn.\nUnder-Sampling: Tomek Links. \nSynthetic Minority Oversampling Technique (SMOTE)\n'

In [14]:
# Q10
'''Resampling (Oversampling and Undersampling)
   This technique is called oversampling. Similarly, we can randomly delete rows from the majority class to match them
   with the minority class which is called undersampling. After sampling the data we can get a balanced dataset for 
   both majority and minority classes.'''

'Resampling (Oversampling and Undersampling)\n   This technique is called oversampling. Similarly, we can randomly delete rows from the majority class to match them\n   with the minority class which is called undersampling. After sampling the data we can get a balanced dataset for \n   both majority and minority classes.'

In [15]:
# Q11
'''Resampling (Oversampling and Undersampling)
   This technique is used to upsample or downsample the minority or majority class. When we are using an imbalanced 
   dataset, we can oversample the minority class using replacement. This technique is called oversampling.
=>7 Techniques to Handle Imbalanced Data.
Use the right evaluation metrics.
Resample the training set. 
Use K-fold Cross-Validation in the Right Way.
Ensemble Different Resampled Datasets.
Resample with Different Ratios.
Cluster the abundant class.
Design Your Models.
'''

'Resampling (Oversampling and Undersampling)\n   This technique is used to upsample or downsample the minority or majority class. When we are using an imbalanced \n   dataset, we can oversample the minority class using replacement. This technique is called oversampling.\n=>7 Techniques to Handle Imbalanced Data.\nUse the right evaluation metrics.\nResample the training set. \nUse K-fold Cross-Validation in the Right Way.\nEnsemble Different Resampled Datasets.\nResample with Different Ratios.\nCluster the abundant class.\nDesign Your Models.\n'